<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Node System</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.2/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <header>
      <p><a href="#" onclick="dashboard()">Dashboard</a></p>
      <div class="data">
        <p>
          <a href="#" onclick="handleChart('temp', 0)"
            >Temp: <span id="temp">{{ sensorData.temp }}</span>*C</a
          >
        </p>
        <p>
          <a href="#" onclick="handleChart('hum', 0)"
            >Hum: <span id="hum">{{ sensorData.hum }}</span>%</a
          >
        </p>
        <p>
          <a href="#" onclick="handleChart('rain', 0)"
            >Rain: <span id="rain">{{ sensorData.rain }}</span></a
          >
        </p>
        <p>
          <a href="#" onclick="handleChart('lux', 0)"
            >Light: <span id="lux">{{ sensorData.lux }}</span> lux</a
          >
        </p>
      </div>
      <div class="time">
        <!-- <p><a href="/notify">Notification</a></p> -->
        <p id="date_time"></p>
      </div>
    </header>

    <div id="grid_node"></div>

    <div id="chart_wrapper">
      <h3 id="title"></h3>
      <div id="chart">
        <div id="column_1">
          <div>
            <canvas id="myChart"></canvas>
            <div id="time_ctn">
              <a id="day-6" href="#"></a>
              <a id="day-5" href="#"></a>
              <a id="day-4" href="#"></a>
              <a id="day-3" href="#"></a>
              <a id="day-2" href="#"></a>
              <a id="day-1" href="#"></a>
              <a id="day-0" href="#"></a>
            </div>
          </div>
        </div>
        <div id="column_2">
            <p>Average: <span id="average"></span></p>
            <p>Min: <span id="min"></span></p>
            <p>Max: <span id="max"></span></p>
            <p id="duration">Duration: <span id="duration_value"></span></p>
          </div>
      </div>
    </div>
  </body>
  <script>
    // Declare global variable
    var socket = io.connect();
    let Node_list = [];
    let temp_node;
    let percent;
  </script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/node.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
  <script>
    $(document).ready(()=>{

        $("#chart_wrapper").hide();

        // Render node
        {% for node in node_array %}
            percent = ((Math.abs( {{node[3]}}-1024))/10.24).toFixed(2);
            temp_node = new Node( "{{node[2]}}" , "{{node[1]}}" , {"soil": percent , "status": "Normal", "update_time": "{{node[4]}}" })
            Node_list.push(temp_node)
        {% endfor %}

        $('#grid_node').append(new AddNode);

        // Update time
        $("#date_time").text(getFormatTime());
        setInterval(()=>{
            $("#date_time").text(getFormatTime());
        }, 60000);

        // Handle socket
        socket.on("stream", (data)=>{
            console.log(data);
            const data_array = data.split("|");
            $("#temp").text(data_array[1]);
            $("#hum").text(data_array[2]);
            if (parseInt(data_array[3]) < 500) {
                $("rain").text("Yes");
            } else {
                $("rain").text("No");
            }
            $("lux").text(data_array[4]);
        })
        // Handle socket
        socket.on("node", (data)=>{
            console.log(data);
            const data_array = data.split('!');
            let id = data_array[1]
            let value = data_array[2]
            for (let node of Node_list) {
                if (id == node.id) {
                    node.update_data(value);
                }
            }
        })
    })
  </script>
</html>
